body
{background-color: black;}
h1
{
    text-align: right;
    color: tomato;
}
h3
{
    text-align: right;
    color: tomato;
}
p
{
    text-align: left;
    color: whitesmoke;
}
h4
{
    text-align: left;
    color: tomato;
}